.form_container{
	width:300px;
	height:auto;
}

.edit_container{
	width:100%;
	height:auto;	
	padding: 15px;
	background-color:white;

	.page_title{
		font-size: 18px;
		font-weight: 500;
	}	

	.button_suit{
		margin-top:20px;
		height: 26px;
		font-size: 14px;	
		.button_cancel{
			height:100%;
			width: 70px;
		}
		.button_update{
			height:100%;
			width: 120px;
			margin-left: 12px;
			background-color: #343a40;
			color: white;
		}
	}
}